<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockMonitor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid">
    @{
        if (Session["UserName"] == null)
        {
            Html.RenderPartial("_Navbar_LoggedOut");
        }
        else
        {
            Html.RenderPartial("_Navbar_LoggedIn");
        }
    }

    <div class="col-sm-12">
        @RenderBody()

    </div>
    <div class="col-sm-12">
        <hr />
        <footer>
            @using System.Globalization
            <p>&copy; @DateTime.Now.Year StockMonitor, @DateTime.Today.ToString("D", CultureInfo.CreateSpecificCulture("fi-FI"))</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
