@model IEnumerable<StockMonitor_2.Models.Transactions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yritys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaaraForPortfolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aHinta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalForPortfolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurssi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEuros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kulut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grandtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.Currency1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Rooli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTypes.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yritys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaaraForPortfolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aHinta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalForPortfolio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurssi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEuros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kulut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grandtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.Currency1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Rooli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTypes.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
