@model StockMonitor_2.Models.Transactions

@{
    Layout = null;
}

<div class="modal fade" id="TransactionModalDelete">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Poista kaupan tiedot</h2>
            </div>
            <div class="modal-body">
                <h4 style="color:red">Oletko varma että haluat poistaa tämän kaupan järjestelmästä?</h4>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <div class="row">
                            <div class="col-lg-6">
                                <dt>Yritys</dt>
                                <dd>@Html.DisplayFor(model => model.Yritys)</dd>
                                <dt>Osto/Myynti</dt>
                                <dd>@Html.DisplayFor(model => model.TransactionTypes.Type)</dd>
                                <dt>Pvm</dt>
                                <dd>@Html.DisplayFor(model => model.Pvm)</dd>
                                <dt>Määrä</dt>
                                <dd>@Html.DisplayFor(model => model.Maara)</dd>
                                <dt>á Hinta</dt>
                                <dd>@Html.DisplayFor(model => model.aHinta)</dd>
                                <dt>Summa</dt>
                                <dd>@Html.DisplayFor(model => model.Total)</dd>
                            </div>
                            <div class="col-lg-6">
                                <dt>Valuutta</dt>
                                <dd>@Html.DisplayFor(model => model.Currency.Currency1)</dd>
                                <dt>Kurssi</dt>
                                <dd>@Html.DisplayFor(model => model.Kurssi)</dd>
                                <dt>Summa (€)</dt>
                                <dd>@Html.DisplayFor(model => model.TotalEuros)</dd>
                                <dt>Kulut</dt>
                                <dd>@Html.DisplayFor(model => model.Kulut)</dd>
                                <dt>Kaupan loppusumma (€)</dt>
                                <dd>@Html.DisplayFor(model => model.Grandtotal)</dd>
                            </div>
                        </div>
                    </dl>

                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Poista" class="btn btn-danger" />
                        <a class="btn btn-info" @Html.ActionLink("Takaisin", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
