@*@model IEnumerable<StockMonitor_2.Models.Transactions>*@
@model PagedList.IPagedList<StockMonitor_2.Models.Transactions>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">*@

@{
    ViewBag.Title = "Kaupat";
}

@*JQuery*@
@section scripts{
    @*Modal Delete*@
    <script type="text/javascript">
        $(function () {
            $(".getTransactionId2").click(function () {
                let transactionID2 = $(this).data("transid2");               
                var url = "/Transactions/_TransactionModalDelete/?id=" + transactionID2;
                var $detailDivDelete = $("#transactionDelete");
                $.get(url, function (data) {
                    $detailDivDelete.replaceWith(data);
                    $('#TransactionModalDelete').modal('show');
                });
            });
        });
    </script>
}
<br />
<h2>Kaupat</h2>

<div id="transactionDelete"></div>
<br />
<p><a class="btn btn-success" @Html.ActionLink("Lisää uusi", "Create")</p>

@using (Html.BeginForm("Index", "Transactions", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="input-group">
        <p>
            <input type="submit" value="Hae" class="form-control" style="background-color:lightgray;font-weight:bold" />
            @Html.TextBox("SearchString1", ViewBag.currentFilter as string, new { @class = "form-control" })
        </p>
    </div>
}

<br />

<table class="table">
    <tr>
        <th>@Html.ActionLink("Yritys", "Index", new { sortOrder = ViewBag.YritysSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Osto/Myynti", "Index", new { sortOrder = ViewBag.OstoMyyntiSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Pvm", "Index", new { sortOrder = ViewBag.PvmSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Määrä", "Index", new { sortOrder = ViewBag.MaaraSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("á Hinta", "Index", new { sortOrder = ViewBag.aHintaSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Summa", "Index", new { sortOrder = ViewBag.SummaSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Valuutta", "Index", new { sortOrder = ViewBag.ValuuttaSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Kurssi", "Index", new { sortOrder = ViewBag.KurssiSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Summa (€)", "Index", new { sortOrder = ViewBag.SummaESortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Kulut", "Index", new { sortOrder = ViewBag.KulutSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th>@Html.ActionLink("Kaupan loppusumma (€)", "Index", new { sortOrder = ViewBag.GrandtotalSortParam, currentFilter = ViewBag.currentFilter })</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Yritys)</td>
        <td>@Html.DisplayFor(modelItem => item.TransactionTypes.Type)</td>
        <td>@Html.DisplayFor(modelItem => item.Pvm)</td>
        <td>@Html.DisplayFor(modelItem => item.Maara)</td>
        <td>@Html.DisplayFor(modelItem => item.aHinta)</td>
        <td>@Html.DisplayFor(modelItem => item.Total)</td>
        <td>@Html.DisplayFor(modelItem => item.Currency.Currency1)</td>
        <td>@Html.DisplayFor(modelItem => item.Kurssi)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalEuros)</td>
        <td>@Html.DisplayFor(modelItem => item.Kulut)</td>
        <td>@Html.DisplayFor(modelItem => item.Grandtotal)</td>
        <td style="display:none;">@Html.DisplayFor(modelItem => item.TotalForPortfolio)</td>
        <td style="display:none;">@Html.DisplayFor(modelItem => item.MaaraForPortfolio)</td>
        <td><a class="btn btn-default" style="border:none" title="Tiedot" href='~/Transactions/Edit/@item.ID'>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg></a>
            <a class="getTransactionId2 btn btn-default" data-toggle="modal" data-transid2="@item.ID" style="border:none" title="Poista">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </a>
        </td>
    </tr>
    }

</table>

<br />
Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }))
