@model IEnumerable<StockMonitor_2.Models.Portfolio>

@{
    ViewBag.Title = "Portfolio2";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showCompanyInfo").click(function () {
                let companyID = $(this).data("companyid");
                var url = "/Portfolio/_PortfolioTransactions/?Yritys=" + companyID;
                var $infoDiv = $("#portTrans_" + companyID);
                $.get(url, function (data) {
                    $infoDiv.replaceWith(data);
                });
            });
        });
    </script>
}
<body>
    <h2>Portfolio2</h2>

    <div>
        <div class="card-header" >
            <a class="card-link">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Yritys" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Määrä yhteensä" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Hankinta-arvo" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="à Hinta nyt" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Arvo yhteensä nyt" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Voitto/Tappio" disabled>
                        <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Voitto/Tappio%" disabled>
                    </div>
                </form>
            </a>
        </div>

        <div id="accordion">
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header">
                        <a class="card-link showCompanyInfo" data-companyid="@item.Yritys" data-toggle="collapse" href="#collapse_@item.Yritys">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control px-2" value="@item.Yritys" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.MaaraYht" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.HankintaArvo" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.aHintaNyt" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.ArvoNytAll" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.VoittoTappioE" style="background-color:transparent" disabled />
                                    <input type="text" class="form-control px-2" value="@item.VoittoTappio_" style="background-color:transparent" disabled />
                                    <a class="btn btn-success" @Html.ActionLink("Tiedot", "Details", new { id = item.ID })
                                </div>
                            </form>
                        </a>
                    </div>
                    <div id="collapse_@item.Yritys" class="collapse" data-parent="accordion">
                        <div class="card-body">
                            <div id="portTrans_@item.Yritys"></div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</body>

